@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

body {
    background: #31393c;
    margin: 0px;
    width: 100%;
}

.navbar {
    height: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;    
}

.main h1 {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 800;
    font-size: 96px;
    color: #f79824;
}

.navbar a {
    color: black;
    height:40px;
    font-size: 28px;
    background: #48d1cc;
    text-decoration: none;
    float: left;
    padding: 5px;
}

.navbar a:hover {
    background: #FFFFFF;
}

#fname {
    margin-left: 100px;
    color: #FFFFFF;
}
#lname {
    
    margin-left: 300px;
}

.box {
    float: left;
    width: 28%;
    height: 250px;
    color: white;
    margin: 2.5%;
    text-align: center;
}
.box h2 {
    font-size: 35px;
    color: #FFFFFF;
}
.box a {
    color: #FFFFFF;
    text-decoration: none;
}

.center { margin: 0 auto; }
.slide-content { margin: 0 auto; width: 960px; }
.clear { clear: both; }

#main-slide {
    background: #31393c;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 200px 0;
}

#hard-choices-slide {
    background: url('Projects/img/hard-choices.png') 50% 0 no-repeat fixed;
    color: #FFFFFF;
    height: 600px;
    padding: 170px 0 0 0;
    background-size: cover;
}

#other-slide {
    background: #31393c;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 200px 0;
}

#css-slide {
    background: url('Projects/img/.png') 50% 0 no-repeat fixed;
    color: #FFFFFF;
    height: 600px;
    padding: 170px 0 0 0;
    background-size: cover;
}
